.welcome_page{
     
}

.Welcome_viewport_One{
     position: relative;
     height: 810px;
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-color: rgba(0, 0, 0, 0.932);
     background-image: linear-gradient(0deg,rgb(0, 0, 0) 0,transparent 60%,#000000b8),url('../../assets/images/banner.jpg') ;
     border-bottom: 8px solid #343131;  
    }

.top{
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.signIn{
     position: relative;
     background-color: #e50914;
     right: 40px;
     float: right;
     font-size: 1rem;
     font-weight: 400;
     line-height: normal;
     padding: 7px 17px;
}

.netflixIcon{
     position: relative;
     left: 40px;
}

.middle{
    position: absolute;
    top: -172px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 950px;
    height: 200px;
    text-align: center;
}
.title >h1{
    font-size: 4.0rem;
    color: white;
}
.middle >h2{
    font-weight: 400;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.middle > h3 {
    font-weight: 400;
    font-size: 1.2rem;
    max-width: none;
    padding-bottom: 20px;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.Email{
    background-color: white;
    width: 450px;
    height: 60px;
}
.form{
     display: flex;
     flex-direction: row;
     column-gap: 2px;
     justify-content: center;

}
 .GetStarted{
    font-size: 20px;
}
.color_dark{
     
     position: absolute;
     height: 810px;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     background-color: #00000083;
}



/* viewpport Two */

.Welcome_viewport_Two{
        position: relative;
        background-color: black;
}
.wrap_Container_Viewport_Two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
    column-gap: 100px;
    border-bottom:10px  solid #343131; 
    flex-wrap: wrap;
}
.view_port_Two_Text > h1 {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    color: #fff;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.view_port_Two_Text > h2 {
    color: #fff;
    font-weight: 500;
}
.view_port_Two_Animation > img{
    position: relative;
    z-index: 1;
}
.setAnimation{
     
    position: absolute;
    right: 0;
    top: -15px;
    left: 0;
    bottom: 0;
    width: 361.3px;
    margin: auto;
    
}

.animation_con{
    position: relative;
    width: 500px;
     
}


 /* view port Three */

.Welcome_viewport_Three{
    position: relative;
    background-color: black;
}